{% extends 'base.html' %}

{% load static %}
{% load filters %}

{% block title %}
    Connect 4
{% endblock %}

{% block styles %}
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/board.css' %}">
{% endblock %}

{% block content %}
<!--Game Settings-->
<div class="settings-wrapper">
    <div class="settings">
        <div class="settings-content">
            <h2 id="settings-title">Settings of the game</h2>
            <div class="settings-element">
                <p class="settings-subtitle">Start player</p>
                <div class="settings-radio">
                    <label for="player">Player</label>
                    <input type="radio" id="player" name="start" value='user' checked>
                    <label for="cpu">CPU</label>
                    <input type="radio" id="cpu" name="start" value='cpu'>
                </div>
            </div>
            <div class="settings-element">
                <p class="settings-subtitle">Player color</p>
                <div class="settings-radio">
                    <label for="red">Red</label>
                    <input type="radio" id="red" name="color" value="r" checked>
                    <label for="yellow">Yellow</label>
                    <input type="radio" id="yellow" name="color" value="y">
                </div>
            </div>
            <div class="settings-element">
                <button id="settings-btn">Start</button>
            </div>
        </div>
    </div>
</div>

<!--Game-->
<p>{{winner}}</p>
<div id="game">
    <div id="selector-column">
        {% csrf_token %}
        {% for column in columns|rangefilter %}
            <div class="selector-arrow" onclick="dropToken('{{column}}')">
                <div class="arrow arrow-{{column}}">
                </div>
                <div id="token-{{column}}" class="token">
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="board">
        {% for row in rows|rangefilter %}
            <div class="board-row">
                {% for column in columns|rangefilter %}
                    <div class="row-{{row}} col-{{column}} board-cell color-0">
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/player.js' %}"></script>
    <script src="{% static 'js/token.js' %}"></script>
    <script src="{% static 'js/game.js' %}"></script>
{% endblock %}
