{% extends 'base.html' %}

{% load static %}
{% load filters %}

{% block title %}
    Connect 4
{% endblock %}

{% block styles %}
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/board.css' %}">
{% endblock %}

{% block content %}

<!--Game Settings-->
<div class="modal-wrapper settings">
    <div class="modal">
        <div class="modal-content">
            <h2 id="modal-title">Settings of the game</h2>
            <div class="modal-element">
                <p class="modal-subtitle">Start player</p>
                <div class="modal-radio">
                    <label for="player">Player</label>
                    <input type="radio" id="player" name="start" value='user' checked>
                    <label for="cpu">CPU</label>
                    <input type="radio" id="cpu" name="start" value='cpu'>
                </div>
            </div>
            <div class="modal-element">
                <p class="modal-subtitle">Player color</p>
                <div class="modal-radio">
                    <label for="red">Red</label>
                    <input type="radio" id="red" name="color" value="r" checked>
                    <label for="yellow">Yellow</label>
                    <input type="radio" id="yellow" name="color" value="y">
                </div>
            </div>
            <div class="modal-element">
                <p class="modal-subtitle">Oponent</p>
                <div class="modal-radio">
                    <label for="easy">CPU</label>
                    <input type="radio" id="easy" name="oponent" value=0 checked>
                    <label for="hard">IA</label>
                    <input type="radio" id="hard" name="oponent" value=1>
                </div>
            </div>
            <div class="modal-element">
                <p class="modal-subtitle">Token velocity</p>
                <div class="modal-slider">
                    <input type="range"
                           min="6.25"
                           max="100"
                           value="20"
                           class="slider"
                           step="0.25"
                           id="tokenVelocity">
                </div>
            </div>
            <div class="modal-element">
                <button id="settings-btn" class="btn btn-ok">Start</button>
            </div>
        </div>
    </div>
</div>

<!--Game-->
<p>{{winner}}</p>
<div id="game">
    <div id="selector-column">
        {% for column in columns|rangefilter %}
            <div class="selector-arrow" onclick="dropToken('{{column}}')">
                <div class="arrow arrow-{{column}}">
                </div>
                <div id="token-{{column}}" class="token">
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="board">
        {% for row in rows|rangefilter %}
            <div class="board-row">
                {% for column in columns|rangefilter %}
                    <div class="row-{{row}} column-{{column}} board-cell color-0">
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

<!--Game Finish-->
    <div class="modal endgame">
        <div class="modal-content">
            <h1 id="gameWinner"></h1>
            <h2 id="modal-title">Play again</h2>
            <div class="modal-element btns">
                <button onClick="window.location.reload();" class="btn btn-ok">Yes</button>
                <button id="closeGame" class="btn btn-close">No</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/player.js' %}"></script>
    <script src="{% static 'js/token.js' %}"></script>
    <script src="{% static 'js/game.js' %}"></script>
{% endblock %}
