{% extends 'base.html' %}

{% load static %}

{% block title %}
    Connect 4
{% endblock %}

{% block styles %}
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/board.css' %}">
{% endblock %}

{% block content %}
<!--Game Settings-->
<div class="settings-wrapper">
    <div class="settings">
        <div class="settings-content">
            <h2 id="settings-title">Settings of the game</h2>
            <div class="settings-element">
                <p class="settings-subtitle">Start player</p>
                <div class="settings-radio">
                    <label for="player">Player</label>
                    <input type="radio" id="player" name="start" value="p" checked>
                    <label for="cpu">CPU</label>
                    <input type="radio" id="cpu" name="start" value="c">
                </div>
            </div>
            <div class="settings-element">
                <p class="settings-subtitle">Token color</p>
                <div class="settings-radio">
                    <label for="red">Red</label>
                    <input type="radio" id="red" name="color" value="r" checked>
                    <label for="yellow">Yellow</label>
                    <input type="radio" id="yellow" name="color" value="y">
                </div>
            </div>
            <div class="settings-element">
                <button id="settings-btn" type="submit" onclick="startGame(this)">Start</button>
            </div>
        </div>
    </div>
</div>

<!--Game-->
<div id="game">
    <div id="selector-column">
        {% csrf_token %}
        {% for column in columns %}
            <div class="selector-arrow" onclick="dropToken(this, '{{forloop.counter0}}')">
                <div class="arrow arrow-{{forloop.counter0}}">
                </div>
                <div id="token-{{forloop.counter0}}" class="token">
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="board">
        {% for line in board %}
            <div class="board-row">
                {% for cell in line %}
                    <div class="row-{{forloop.parentloop.counter0}} col-{{forloop.counter0}} board-cell color-{{cell}}">
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/board.js' %}"></script>
{% endblock %}
