:root {
  --board-width: max(60vw, 400px);
  --token-color-user: red;
  --token-color-cpu: yellow;
  --board-color: blue;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
